#Poster_zurag{
  height: 625px;
  width: 100%;
  border-radius: 15px;
  padding: 0;
  object-fit: cover;
 }
.bugd{
  display: grid;
  grid-template-columns: 2fr 2fr 1fr ;
  grid-gap: 0;
}
*{
  box-sizing: border-box;
}

.heseg{
  position: relative;
  padding: 0.5rem;
}
.heseg h2{
  margin-top: 0;
}
.hesegbish article video{
  max-width: 100%;
}
/* .heseg .unelgee{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  margin: 0;
  padding: 0.5rem;
}
*/
.heseg p{
  text-align: justify;
}
section h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
section article img {
  width: 100%;
  height: 245px;
}
section article h4 {
  margin-top: 10px;
}

.shuumjner {
  display: flex;
  align-items: center;
  gap: 10px;
}


.review {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 16px; 

}

.review > article {
  display: flex;
  gap: 16px;
}

.prof{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  align-items: start;
  display: flex;
}

.RR{
    color: rgb(123, 119, 119);
    text-align: start;
}

.TT{
    text-align: start;
}

.zaa {
  display: flex;
  flex-flow:row wrap;
  gap: 16px;
}

.zaa > div {
  margin-top: -24px;
}

.prof{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  align-items: start;
}

.RRR{
    color: rgb(123, 119, 119);
    text-align: start;
}

.TTT{
    text-align: start;
}

.proff{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  align-items: start;
}

.search{
  align-items: start;
  padding: 8px;   
}

.hesegbish > section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
}

@media(max-width: 500px){
  .bugd{
    display: block;
  }
  .review {
    display: block;
  }
  #Poster_zurag{
    border-radius: 15px;
    max-width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
  }
  .hesegbish{
    margin: 0;
    padding: 8px;
  }
  .review article{
    padding: 1px;
  }
}