#Poster_zurag{
  height: 625px;
  width: 450px;
  border-radius: 15px;
  padding: 0;
 }
/*.Bugd{
  display: grid;
  grid-template-columns: 2fr 2fr 1fr ;
  grid-gap: 1rem;
}*/
*{
  box-sizing: border-box;
}
.heseg{
  position: relative;
  padding: 0.5rem;
}
.heseg h2{
  margin-top: 0;
}
.heseg .unelgee{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  margin: 0;
  padding: 0.5rem;
}
.heseg p{
  text-align: justify;
}
section {
    padding: 20px;
  }
  
  section h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  section article {
    float: left;
    width: 37%;
    margin-bottom: 20px;
  }
  
  section article img {
    width: 100%;
    height: 245px;
  }
  
  section article h4 {
    margin-top: 10px;
  }
  
  section aside {
    float: right;
    width: 23%;
    padding: 1rem;
  }


  /* Footer */
  /*
  footer {
=======
   */
  /* Footer */
  /* footer {
    background-color: #ccc;
    padding: 20px;
    text-align: center;
  }
  
  footer a {
    margin: 0 10px;
  }
  
  footer img {
    width: 20px;
    height: 20px;

  }*/
  
   */

.review {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
}

.review div {
  display: block;
}

.review img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.review article {
  display: grid;
  width: 600px;
  grid-template-columns: auto auto;
}*/

.rate {
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
  display: inline-block;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.reviewing {
  display: inline-block;  
}


.prof{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  align-items: start;
}

.last-reviews .one_movies {
  display: flex;
  align-items: start;
  gap: 16px;
}

.last-reviews .one_movies h4 {
  align-items: center;
  text-align: center;
}

.RR{
    color: rgb(123, 119, 119);
    text-align: start;
}

.TT{
    text-align: start;
}

