/*Section хэсгийг нийтэд нь тохируулж өгч байна*/
section{
    padding:8rem;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
}
section h2{
    position: relative;
}
/*Section article хэсгийг тохируулж өгч байна. Карт үүсгэж түүнийхээ хэмжээг тохируулж байна*/
section article a{
    background-color: white;
    box-shadow: 0 0 40px #FFD747;
    border-radius: 15px;
    color: black;
    width: 175px;
    height: 275px;
    float: left;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

section article a:hover {
    background-color: #FFD747;
}

