.section-review {
    display: flex;
}

.section-review p {
    color: #ffd474;
    margin-top: 30px;
}

.section-review h2, p {
    display: inline-block;
}

.review article a img {
    height: 175px;
    width: 125px;
    border-radius: 10px;
    object-fit: cover;
}  

.profile {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.review article {
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto;
}

.rev {
    display: inline-block;
    text-align: justify;
}

