article img {
    height: 275px;
    width: 175px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s;
}

article h4 {
    text-decoration: none; 
    color: white;
    margin: 10px 0;
    text-align: center;
}

article a {
    text-decoration: none;
}

div.new-movies article a img:hover, div.top-movies article a img:hover {
    transform: scale(1.08);
    border: 3px solid yellow;
}

h2 {
    color: white;
    text-transform: uppercase;
    font-size: 24px;
}

.new-movies {
    display: flex; 
    grid-template-columns: repeat(3, 1fr) ; 
    gap: 30px;
    flex-wrap: wrap;
    width: auto;
}

.section-new {
    display: inline-table;
}

.section-new h2 {
    display: inline;
}

.section-new p {
    color: #ffd474;
    float: right;
    margin-top: 30px;
}

.section-new h2, p {
    display: inline-block;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-top{
    margin-top: 30px;
}

.section-top h2 {
    display: inline;
}

.section-top p {
    color: #ffd474;
    float: right;
    margin-top: 30px;
}

.section-top h2, p {
    display: inline-block;
}

.top-movies {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(6, 1fr) ; 
    gap: 30px;
}


.news article img {
    height: 125px;
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.news article {
    align-items: start;
}
