.slide {
    width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.slidepic {
    display: none;
}

.slide img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

section.slide a.prev, .slide a.next {
    position:absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin: -22px;
    color: yellow;
    font-size: 100px;
    cursor: pointer;
    transition: 0.5s;
}

.slide a.prev {
    left: 10px;
}

.slide a.prev:hover, .slide a.next:hover {
    transform: scale(1.25);
}

.slide a.next {
    right: 10px;
}

article img {
    height: 275px;
    width: 175px;
    object-fit: cover;
    border-radius: 10px;
}

article h4 {
    text-decoration: none; 
    color: white;
    margin: 10px 0;
    text-align: center;
}

article a {
    text-decoration: none;
}

h2 {
    color: white;
    text-transform: uppercase;
    font-size: 24px;
}

.new-movies {
    display: flex; 
    grid-template-columns: repeat(3, 1fr) ; 
    gap: 30px;
    flex-wrap: wrap;
    width: auto;
}

.section-new {
    margin-right: 120px;
}

.section-new p {
    color: #ffd474;
    float: right;
    margin-top: 30px;
}

.section-new h2, p {
    display: inline-block;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-top{
    margin-top: 30px;
}

.section-top h2 {
    display: inline;
}

.section-top p {
    color: #ffd474;
    float: right;
    margin-top: 30px;
}

.section-top h2, p {
    display: inline-block;
}

.top-movies {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    grid-template-columns: repeat(6, 1fr) ; 
    gap: 30px;
    flex-wrap: wrap;
}


.news article img {
    height: 125px;
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.news {
    display: flex;
    justify-content: space-around;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    flex-wrap: wrap;
}

.news article {
    display: grid;
    grid-template-columns: auto auto;
    width: 500px;
    justify-content: flex-start;
    background-color:  #555555;
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
}

.section-new, .section-review {
    display: inline-flex;
    flex-direction: column;
}

.news div {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.news article div time {
    color: lightgray;
    font: italic;
    margin-left: auto;
}