body {
  margin-top: 10%;
  background-color: rgba(17, 17, 17, 0.9);
  margin-left: 10%;
  margin-right: 10%;
}

* {
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Inter', sans-serif;
  font-family: 'Oswald', sans-serif;
}

header img {
  height: 50px;
  margin-left: 40px;
}

header {
  background-color: #ffd747;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
  color: #333;
  font-weight: bold;
}

header li a {
  padding: 10px;
  border-radius: 15px;
  color: black;
  text-decoration: none;
}

header li a:hover {
  background-color: black;
  color: white;
}

section {
  margin-bottom: 70px;
}

.search {
  border: none;
  border-radius: 15px;
  height: 30px;
}
  
  /* Profile section */
  section {
    margin: 10px;
  }
  
  section h2 {
    font-size: 24px;
  }
  
  section p {
    font-size: 16px;
  }
  
  section img {
    width: 100%;
    max-width: 300px;
  }
  
  /* My list section */
  section.my-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    margin-right: 100px;
  }
  
  section.my-list article {
    padding: 10px;
    border: none;
    border-radius: 10px;
  }
  
  section.my-list article h4 {
    font-size: 18px;
  }
  
  section.my-list article img {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
  }

  section.my-list article img:hover {
    opacity: 0.7;
    transform: scale(1.1);
    border-radius: 15px;
    box-shadow: 0 0 20px #FFD747;
  }
  

  
  
  /* Footer section */
  footer {
    text-align: center;
    padding: 10px;
  }
  
  footer a img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
  }