  /* Profile section */
  section {
    margin: 10px;
  }
  
  section h2 {
    font-size: 24px;
  }
  
  section p {
    font-size: 16px;
  }
  
  section img {
    width: 100%;
    max-width: 300px;
  }
  
  /* My list section */
  section.my-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    margin-right: 100px;
  }
  
  section.my-list article {
    padding: 10px;
    border: none;
    border-radius: 10px;
  }
  
  section.my-list article h4 {
    font-size: 18px;
  }
  
  section.my-list article img {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
  }

  section.my-list article img:hover {
    opacity: 0.7;
    transform: scale(1.1);
    border-radius: 15px;
    box-shadow: 0 0 20px #FFD747;
  }
  
/* Last Reviews */
  .last-reviews {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
  }
  
  .last-reviews h2 {
    font-size: 18px;
  }
  
  .last-reviews article {
    float: left;
    width: 33%;
    text-align: center;
    padding: 10px;
  }
  
  .last-reviews article img {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
  }
  
  .last-reviews article h4 {
    margin-top: 10px;
  }
  
  

  
  
  /* Footer section */
  footer {
    text-align: center;
    padding: 10px;
  }
  
  footer a img {
    width: 20px;
    height: 20px;
    margin: 0 10px;
  }