body {
    margin-top: 10%;
    background-color: rgba(17, 17, 17, 0.9);
    margin-left: 10%;
    margin-right: 10%;
    color: rgb(255, 255, 255);

    position: relative;
}
.no-margin {
    margin-left: 0;
    margin-right: 0;
}
* {
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Oswald', sans-serif;
}
header img {
    height: 50px;
    margin-left: 40px;
}
header {
    background-color: #ffd747;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    z-index: 2;
}
header * {
    display: inline-flex;
}
nav{
   justify-content: space-between; 
   width: 100%;
}
header li {
    margin: 20px;
    color: #333;
    font-weight: bold;
}
header li a {
    padding: 10px;
    border-radius: 15px;
    color: black;
    text-decoration: none;
}
header li a:hover {
    background-color: black;
    color: white;
}
section {
    margin-top: 30px;
} 
.search {
    border: none;
    border-radius: 15px;
    height: 30px;
}
header li a:active {
    background-color: rgb(84, 75, 75);
    color: white; 
}

header nav label{
    color: #000000;
    font-size: 2rem;
    display: none;
}

footer {
    background-color: #000000;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    width: 100% !important;
    justify-content: center;
}

footer a {
    padding-left: 4rem;
    padding-right: 4rem;
    text-decoration: none;
    color: #fff;
}

footer img {
  width: 30px;
  height: auto;
  margin-right: 5px;
}
@media(max-width: 430px){
    header nav ul{
        position: fixed;
        top: 2.7rem;
        background-color: #ffd747;
        height: calc(100vh-100px);
        width: 80%;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    header nav ul.right{
        position: fixed;
        top: 12rem;
    }
    header nav label{
        display: block;
        width: 100px;
        /* text-align: center; */
        /* margin: auto; */
        padding-left: 80%;
    } 
    header nav ul {
        display: none; 
    }

    header nav ul.active {
        display: flex; 
    }
    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    footer a {
        padding-left: 1rem;
        padding-right: 1rem;
        text-decoration: none;
        color: #fff;
    }
}
@media(max-height: 430px){
    header nav ul{
        position: fixed;
        top: 2.7rem;
        background-color: #ffd747;
        height: calc(100vh-100px);
        width: 80%;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    header nav ul.right{
        position: fixed;
        top: 12rem;
    }
    header nav label{
        display: block;
        width: 100px;
        /* text-align: center; */
        /* margin: auto; */
        padding-left: 80%;
    } 
    header nav ul {
        display: none; 
    }

    header nav ul.active {
        display: flex; 
    }
    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    footer a {
        padding-left: 1rem;
        padding-right: 1rem;
        text-decoration: none;
        color: #fff;
    }
}