#Poster_zurag{
  height: 625px;
  width: 100%;
  border-radius: 15px;
  padding: 0;
  object-fit: cover;
 }
.bugd{
  display: grid;
  grid-template-columns: 2fr 2fr 1fr ;
  grid-gap: 0;
}
*{
  box-sizing: border-box;
}
.heseg{
  position: relative;
  padding: 0.5rem;
}
.heseg h2{
  margin-top: 0;
}
.hesegbish article video{
  max-width: 100%;
}
.heseg p{
  text-align: justify;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
#icon{
  position: absolute;
  top: 0;
  right: 0; 
  padding-top: 0.7rem;
  padding-right: 0.5rem;
  font-size: 30px;
}
section h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
section article img {
  width: 100%;
  height: 245px;
}
section article h4 {
  margin-top: 10px;
}
.shuumjner {
  display: flex;
  align-items: center;
  gap: 10px;
}
.review {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 16px; 
  padding: 0.5rem;
}
.review > article {
  display: flex;
  gap: 16px;
}
.prof{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  align-items: start;
  display: flex;
}
.review div h3, p{
  margin: 0;
}
.RR{
    color: rgb(123, 119, 119);
    text-align: start;
}
.TT{
    text-align: start;
}
.jijigReview {
  display: flex;
  flex-flow:row wrap;
  gap: 16px;
}
.jijigReview div{
  display: block;
}
.prof{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  align-items: start;
}
.yDay{
    font-size: 15px;
    color: rgb(123, 119, 119);
    text-align: start;
    right: 0;
}
.rewInfo{
    text-align: start;
    margin-top: 0;
    margin-bottom: 0;
}
.proff{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  align-items: start;
}
.search{
  align-items: start;
  padding: 8px;   
}
.hesegbish > section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
}
section{
  margin: 0;
}
.reviewing{
  display: inline-block;
  position: absolute;
} 
#inputRev{
  display: inline-block;
  position: absolute;
  right: 0;
  width: 98%;
  height: 60px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-size: 18px;
  word-wrap: break-word;
  white-space: pre-line;
}
.rating-value{
  z-index: 1;
}
@media(max-width: 430px){
  #Poster_zurag{
    margin-top: 15%;
    border-radius: 15px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .bugd{
    display: block;
  }
  .review {
    display: block;
    margin-top: 150px;
  }
  .hesegbish{
    margin: 0;
    padding: 8px;
    margin-top: 150px;
    display: none;
  }
  .review article{
    padding: 1px;
  }
  .reviewing{
    padding: 0.5rem;
    display: block;
    left: 15%;
  }
  #inputRev{
    margin-right: 0.5rem;
  }
}
@media(max-height: 430px){
  #Poster_zurag{
    margin-top: 7.5%;
  }
  .bugd{
    display: block;
  }
  .review {
    /* display: block; */
    margin-top:30%;
    padding: 1%;
  }
  .hesegbish{
    margin: 0;
    padding: 8px;
    margin-top: 150px;
    display: none;
  }
  .review article{
    padding: 1px;
  }
  .review article{
    padding: 1px;
  }
  .reviewing{   
    padding: 0.5rem;
    display: block;
  }
  #inputRev{
    margin-right: 0.5rem;
  }
}