/*Section хэсгийг нийтэд нь тохируулж өгч байна*/
section{

    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
}
section h2{
    position: absolute;
    padding-top: 1rem;
}
section article{
    padding-top: 3rem;
}
/*Section article хэсгийг тохируулж өгч байна. Карт үүсгэж түүнийхээ хэмжээг тохируулж байна*/
section article a{
    background-color: white;
    box-shadow: 0 0 40px #FFD747;
    border-radius: 15px;
    color: black;
    width: 175px;
    height: 275px;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;
}
.medeelel{
    position: absolute;
    opacity: 0;
    border-radius: 15px;
    background-color: #FFD747;
    margin: 0;
    padding: 0;
    width: 175px;
    height: 275px;
    text-align: center;
}
.tailbar{
    margin: 5%;
    color: black;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    text-align: center;
    top: 45%;
    transform: translate(0, -50%);
}
section article a:hover .medeelel{
    opacity: 1;
}

