.slide {
    max-width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
    padding: 0 !important;
}

.slidepic {
    display: none;
}
.slide img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
section.slide a.prev, .slide a.next {
    position:absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin: -22px;
    color: yellow;
    font-size: 100px;
    cursor: pointer;
    transition: 0.5s;
}
.slide a.prev {
    left: 10px;
}
.slide a.prev:hover, .slide a.next:hover {
    transform: scale(1.25);
}
.slide a.next {
    right: 10px;
}

/*Зурагт хэмжээг нь өгч тохируулж байна*/
.one_movies a div img{
    border-radius: 15px;
}
/*Hover хийх зурагт хэмжээг нь өгч тохируулж байна*/
div article a div{
    overflow: hidden; 
}
/* Зургийн hover хийх үед шар хүрээ үүсгэх */
div article a div:hover {
    border-radius: 15px;
    box-shadow: 0 0 20px #ffd474;
}
/*Зургийн hover хийх үед томруулна */
div article a div:hover img {
    transform: scale(1.1); /* Зургийг 1.1 удаа томруулах */
}
div article a div:hover .unelgee {
    opacity: 1;
  }
/*h4 доторх тохиргоог өгч байна*/
div .one_movies a{
    color: white;
    text-decoration: none;
    text-align: center;
}   
div .one_movies a{
    position: relative;
}
.imagee {
    position: relative;
    overflow: hidden;
}
.unelgee{
    position: absolute; 
    bottom: 0px;
    left: 0;
    background: rgba(0, 0, 0, 0.5); 
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #f1f1f1; 
    width: 100%;
    opacity:0;
    color: white;
    font-size: 1rem;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
  }
/**/

.one_movies{
    width: 175px; 
}
.new-movies {
    display: flex; 
    grid-template-columns: repeat(3, 1fr) ; 
    gap: 30px;
    flex-wrap: wrap;
    width: auto;
}
.section-new .next p{
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.next h2{
    margin: 0;
}
.section-new p {
    color: #ffd474;
    float: right;
    margin-top: 30px;
}
.section-new h2, p {
    display: inline-block;
}
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-top {
    margin-right: 120px;
    margin-top: 30px;
}

.section-top h2, p {
    display: inline-block;
}

.section-top p {
    color: #ffd474;
    float: right;
    margin-top: 30px;
}
h2{
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
}
.top-movies {
    display: flex; 
    align-items: center;
    grid-template-columns: repeat(6, 1fr) ; 
    gap: 30px;
    flex-wrap: wrap;
}
.news article img {
    height: 125px;
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.news {
    display: flex;
    justify-content: space-around;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    flex-wrap: wrap;
    margin: 5%;
    margin-top: 1%;
}
.news article {
    display: grid;
    grid-template-columns: auto auto;
    width: 480px;
    justify-content: flex-start;
    background-color:  #555555;
    border-radius: 10px;
    padding: 10px 20px 20px 20px;
}
.section-new, .section-review {
    display: inline-flex;
    flex-direction: column;
}
.section-review{
    margin-left: 20%;
}
.news div h2{
    margin-top: 0;
    margin-bottom: 10px;
} 
.news div p{
    margin-top: 0;
    margin-bottom: 10px;
    text-align: justify;
} 
.news div {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}
.news article div time {
    color: lightgray;
    font: italic;
    margin-left: auto;
}
.one_movies a div img{
    border-radius: 15px;
    max-width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
}
@media(max-width: 430px){
    .slide{
        margin-top: 3.7rem;
        text-align: center;
        justify-content: center;
    } 
    .slide img {
        max-width: 100%;
        height: 200px;
        aspect-ratio: 3/1;
        object-fit: cover;
    }
    section.slide a.prev, section.slide a.next {
        top: 35%;
        width: auto;
        font-size: 40px;
    }
    h2 {
        font-size: 1rem;

    }
    .section-new p{
        margin-top: 10px;
    }
    .section-new{
        margin: 0;
        padding: 5%;
    }
    article h4 {
        margin: 5px 0;
    }
    /**/
    .one_movies {
        width: 30% !important;
    }
    .unelgee {
        display: none;
    }
    .section-new{
        max-width: 100%;
    }

    div article a div{
        overflow: hidden; 
    }
    .new-movies {
        display: flex; 
        grid-template-columns: repeat(3, 1fr) ; 
        gap: 10px;
        flex-wrap: wrap;
        width: auto;
    }
    aside{
        max-width: 100%;
    }
    .section-review{
        margin: 0;
        padding: 5%;
    }
    .section-top{
        width: 100%;
    }
    .top-movies {
        display: flex; 
        grid-template-columns: repeat(3, 1fr) ; 
        gap: 10px;
        flex-wrap: wrap;
        width: auto;
    }
    .news article img {
        height: 100px;
        width: 120px;
        object-fit: cover;
        border-radius: 10px;
    }
}
@media(max-height: 430px){
    .slide{
        margin-top: 5rem;
        text-align: center;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
    } 
    .slide img {
        max-width: 100%;
        height: 200px;
        aspect-ratio: 3/1;
        object-fit: cover;
    }
    section.slide a.prev, section.slide a.next {
        top: 35%;
        width: auto;
        font-size: 40px;
    }
    h2 {
        font-size: 1rem;

    }
    .section-new p{
        margin-top: 10px;
    }
    .section-new{
        margin: 0;
        padding: 5%;
    }
    article h4 {
        margin: 5px 0;
    }
    .one_movies {
        width: 30% !important;
    }
    .unelgee {
        display: none;
    }
    .section-new{
        max-width: 100%;
    }

    div article a div{
        overflow: hidden; 
    }
    .new-movies {
        display: flex; 
        grid-template-columns: repeat(3, 1fr) ; 
        gap: 30px;
        flex-wrap: wrap;
        width: auto;
    }
    aside{
        max-width: 100%;
    }
    .section-review{
        margin: 0;
        padding: 5%;
    }
    .section-top{
        width: 100%;
    }
    .top-movies {
        display: flex; 
        grid-template-columns: repeat(3, 1fr) ; 
        gap: 30px;
        flex-wrap: wrap;
        width: auto;
    }
    .news article img {
        height: 100px;
        width: 120px;
        object-fit: cover;
        border-radius: 10px;
    }
}